.form-outline-style-v1 .form-group {
  position: relative;
  margin-bottom: 50px;
}

.form-outline-style-v1 .form-group label {
  position: absolute;
  top: 5px;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.form-outline-style-v1 .form-group .form-control {
  border: none;
  background: none;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.form-outline-style-v1 .form-group .form-control:active,
.form-outline-style-v1 .form-group .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid white;
}

.form-outline-style-v1 .form-group label {
  font-size: 12px;
  display: block;
  margin-bottom: 0;
  color: #b3b3b3;
  text-transform: uppercase;
  font-weight: 900;
}

.form-outline-style-v1 .form-group.focus {
  background: #fff;
}

.form-outline-style-v1 .form-group.field--not-empty label {
  margin-top: -25px;
}

.form-control {
  border: none;
  background: none;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.form-control:active,
.form-control:focus {
  background: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid white;
}

@media (max-width: 767.98px) {
  .contact-info-v1 {
    text-align: center;
  }
}

.contact-info-v1 > div {
  margin-bottom: 30px;
}

.contact-info-v1 .contact-info-label {
  font-size: 11px;
  letter-spacing: 0.1rem;
  font-weight: 900;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
}

.contact-info-v1 .contact-info-val {
  font-size: 20px;
  color: #fff;
}