.grid-item {
  position: relative;
}

.grid-item:before {
  content: "";
  display: inline-block;
  padding-top: 20rem;
}

.grid-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
}

.blog-item {
  position: relative;
}

.blog-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
}



.blog-item {
  margin-left: 0 !important;
}

.blog-item .overlay {
  opacity: 1;
  visibility: visible;
}

.blog-item:hover .overlay {
  opacity: 0;
  visibility: hidden;
}
