body,
.unslate_co--site-inner {
  background: #000;
  color: #fff;
}

.unslate_co--section {
  padding: 3.5rem 0;
}

@media (max-width: 767.98px) {
  .unslate_co--section {
    padding: 2rem 0;
  }
}

.unslate_co--section a:hover {
  color: #fff;
}


a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  cursor: pointer;
}

a,
a:hover {
  text-decoration: none !important;
}

.unslate_co--site-inner {
  position: relative;
  width: 100%;
  z-index: 1;
}

@media (max-width: 991.98px) {
  .unslate_co--site-inner {
    margin-bottom: auto !important;
  }
}

.lines-wrap {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@media (max-width: 767.98px) {
  .lines-wrap {
    display: none;
  }
}

.lines-wrap .lines-inner {
  position: absolute;
  width: 1140px;
  left: 50%;
  margin-left: -570px;
  top: 0;
  height: 100%;
  border-left: 1px solid #222;
  border-right: 1px solid #222;
}

.lines-wrap .lines-inner .lines {
  position: absolute;
  left: 33.333333%;
  right: 33.333333%;
  height: 100%;
  border-left: 1px solid #222;
  border-right: 1px solid #222;
}


#unslate_co--overlayer {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 7100;
  background: #000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.site-loader-wrap {
  z-index: 7700;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.heading-h2 {
  font-size: 32px;
  color: #fff;
  font-weight: 900;
}

.heading-h2.divider:before {
  position: absolute;
  content: "";
}

.heading-h3 {
  font-size: 26px;
  font-weight: 900;
  color: #fff;
}

.gutter-v1 {
  margin-right: -1px !important;
  margin-left: -1px !important;
}

@media (max-width: 991.98px) {
  .gutter-v1 {
    margin-left: -15px !important;
    margin-right: -15px !important;
  }
}

.gutter-v1 > .col,
.gutter-v1 > [class*="col-"] {
  padding-right: 1px !important;
  padding-left: 1px !important;
}

@media (max-width: 991.98px) {
  .gutter-v1 > .col,
  .gutter-v1 > [class*="col-"] {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
}

.gutter-v2 {
  margin-right: -2px !important;
  margin-left: -2px !important;
}

@media (max-width: 991.98px) {
  .gutter-v2 {
    margin-left: -15px !important;
    margin-right: -15px !important;
  }
}

.gutter-v2 > .col,
.gutter-v2 > [class*="col-"] {
  margin-bottom: 4px;
  padding-right: 2px !important;
  padding-left: 2px !important;
}

@media (max-width: 991.98px) {
  .gutter-v2 > .col,
  .gutter-v2 > [class*="col-"] {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
}

.gutter-v3 {
  margin-left: -60px !important;
  margin-right: -60px !important;
}

@media (max-width: 991.98px) {
  .gutter-v3 {
    margin-left: -15px !important;
    margin-right: -15px !important;
  }
}

.gutter-v3 > .col,
.gutter-v3 > [class*="col-"] {
  padding-right: 60px !important;
  padding-left: 60px !important;
}

@media (max-width: 991.98px) {
  .gutter-v3 > .col,
  .gutter-v3 > [class*="col-"] {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
}

.gutter-v4 {
  margin-right: -10px !important;
  margin-left: -10px !important;
}

.gutter-v4 > .col,
.gutter-v4 > [class*="col-"] {
  margin-bottom: 20px;
  padding-right: 10px !important;
  padding-left: 10px !important;
}

.lead {
  font-size: 18px;
  line-height: 30px;
}

.relative {
  position: relative;
}

figure.dotted-bg {
  position: relative;
}

figure.dotted-bg:before {
  z-index: -1;
  content: "";
  position: absolute;
  bottom: -30px;
  right: -20px;
  width: 268px;
  height: 224px;
  background-image: url("../src/assets/images/dotted_light.png");
  background-repeat: no-repeat;
}

@media (max-width: 991.98px) {
  figure.dotted-bg:before {
    right: 0px;
  }
}
